body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #C8B6E2;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', 'Garamond', serif;
    font-size: 1.88rem;
    margin: 30px auto 0 auto;
}

h3 {
    margin: 0 auto;
    font-family: "Times New Roman";
    color: white;
}

img {
    height: 75px;
    width: 75px;
    float: left;
    margin-left: 20px;
    border: solid 2px;
    border-radius: 10%;
    padding: 10px;
    background-color: aliceblue;
}

a,
p,
li,
input,
label {
    font-family: 'Georgia', monospace;
    color: white;
    font-weight: normal;
}

ul {
    margin: 5px;
    padding-left: 35px;
}

li {
    width: fit-content;
    margin: 0 auto;
    padding-right: 20px;
}

a:hover {
    color: #87CEFA;
}

hr {
    margin: 0px;
    border-color: black;
    border-top: 5px;
}

form {
    margin: 10px 0px 100px 10px;
}

.heading {
    height: 120px;
    background-color: #A8A4CE;
    border-bottom: solid 2px;
    padding: 5px 0px 0px 10px;
}

.personal-information,
.social-media-information,
.skills,
.hobbies {
    padding: 20px;
    height: 50%;
    width: 50%;
    margin: 25px auto 25px auto;
    line-height: 2;
    border: solid #371B58 3px;
    background-color: #5B4B8A;
}

.head-text {
    color: black;
}

#head-image {
    height: 100px;
    width: 100px;
    border: none;
    padding: 0;
    border-radius: 50%; 
    margin: 10px 0 0px 0px;
    position: absolute;
    left: 380px;
    filter: invert(0);
}
